<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.spring.mapper.GameRuleMapper">

    <resultMap id="GameProfileEntityResultMap" type="com.ssafy.spring.entity.GameRuleEntity">
        <id column="game_id" property="gameId"/>
        <result column="description" property="description"/>
        <result column="image_path" property="imagePath" typeHandler="com.ssafy.spring.entity.typehandler.StringArrayTypeHandler"/>
        <result column="description_video_path" property="descriptionVideoPath"/>
    </resultMap>

    <select id="findGameRuleByGameId" resultMap="GameProfileEntityResultMap">
        SELECT
            game_id,
            description,
            image_path,
            description_video_path
        FROM
            game_rule
        WHERE
            game_id = #{gameId}
    </select>

</mapper>
