<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.spring.mapper.GameProfileMapper">

    <resultMap id="GameProfileEntityResultMap" type="com.ssafy.spring.entity.GameProfileEntity">
        <id column="game_id" property="gameId"/>
        <result column="game_profile_path" property="gameProfilePath"/>
    </resultMap>

    <select id="getGameProfileList" resultMap="GameProfileEntityResultMap">
        SELECT
            game_id,
            game_profile_path
        FROM
            game_profile
    </select>

    <select id="findGameProfileByGameId" resultMap="GameProfileEntityResultMap">
        SELECT
            game_id,
            game_profile_path
        FROM
            game_profile
        WHERE
            game_id = #{gameId}
    </select>

</mapper>
