<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.spring.mapper.GameDetailMapper">

    <resultMap id="GameDetailEntityResultMap" type="com.ssafy.spring.entity.GameDetailEntity">
        <id column="game_id" property="gameId"/>
        <result column="people" property="people" typeHandler="com.ssafy.spring.entity.typehandler.IntArrayTypeHandler"/>
        <result column="level" property="level"/>
    </resultMap>

    <select id="getGameDetailList" resultMap="GameDetailEntityResultMap">
        SELECT
            game_id,
            people,
            level
        FROM
            game_detail
    </select>

</mapper>
