.turkey {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
}

.turkey>img {
  width: 50%;
  transition: transform 0.3s ease;
}

.turkey>img:active {
  transform: scale(0.8);
}